:root {
  --body-cl: #ffffff;
  --logo-cl: #4d5ae5;
  --logo-span-cl: #2e2f42;
  --nav-cl: #2e2f42;
  --contacts-cl: #434455;
  --section-bcl: #2e2f42;
  --paragrah-cl: #434455;
  --title-cl: #2e2f42;
  --p-btn-cl: #4d5ae5;
  --p-btn-bcl: #f4f4fd;
  --p-row-title-cl: #2e2f42;
  --p-row-title-p-cl: #434455;
  --btn-main-bcl: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main Page */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--body-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.container{
  width: 1158px;
  padding: 0 15px;
}

header {
  border-bottom: 1px solid #e7e9fc
}

img {
  display: block;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cl);
  margin-right: 76px;

}

.header-logo-span {
  color: var(--logo-span-cl);
}

.list {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-cl);
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-info {
  padding: 24px 0;
}
.nav:hover {
  color: #404bbf;
}
.nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-cl);
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.main {
  background-color: var(--section-bcl);
  padding: 188px 0;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.main-title-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--btn-main-bcl);
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.main-title-btn:hover,
.main-title-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.feature {
  padding: 120px 0;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-bcl);
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-pgrh{
  width: calc((100% - 72px) / 4);

}

.features-title{
  margin-bottom: 8px;

}

.feature-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragrah-cl);
}

.section-three {
  padding-bottom: 120px;
}

.section-three-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-cl);
}

.section-three-img {
  display: flex;
  gap: 24px;
}

.wawd {
  width: calc((100% - 48px) / 3); 
}

.section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-cl);
}

.teammates-list {
  display: flex;
  gap: 24px; 
}

.teammate {
  width: calc((100% - 72px) / 4); 
  background-color: #ffffff;
}

.teammates {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}

.teammate-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.teammate-info {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  padding: 100px 0;
  background-color: var(--section-bcl);
}

.header-logo-span-two {
  color: #f4f4fd;
}

/* Portfolio */

.p-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--p-btn-cl);
  background-color: var(--p-btn-bcl);
}

.p-btn:hover,
.p-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.row-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--p-row-title-cl);
}

.row-title-p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--p-row-title-p-cl);
}
